---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import 'main';

div.sidebar, div.off-canvas-content {
  background-color: #282828;
}

.sidebar__description, nav.navigation {
  border-bottom-color: #fabd2f;
}

h1.sidebar__logo a {
  color: #ebdbb2;
}

ul.list-bare li a {
  color: #ebdbb2;
  border-bottom-color: #fabd2f;
}

.social-nav .icon, div.icon {
  fill: #ebdbb2;
}

div.font-tiny {
  color: #ebdbb2;
}
